@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "@tailwindcss/forms" {
    strategy: "class"; /* only generate classes */
}

@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-serif:
        "Libre Caslon Text", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
}

@utility prose {
    @apply dark:prose-invert sm:prose-xl prose-h1:font-serif prose-h2:font-serif prose-h3:font-serif;
}

.prose table p {
    margin: 0;
}

#horaires table td:first-child {
    @apply font-bold;
}

/* LOGO ANIMATION */

svg.animated-logo * {
    transform-origin: center;
    transform-box: fill-box;
    animation-fill-mode: both;
}

/* circles */

svg.animated-logo #graphics #circles path {
    animation: appear 1.5s 3s both;
}

svg.animated-logo #graphics #circles path#outer-circle {
    animation-delay: 3.2s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* bars */

svg.animated-logo #graphics > path {
    animation-name: rotateCw;
    animation-duration: 1.5s;
    animation-delay: 3s;
}

svg.animated-logo #graphics > path#bar-right {
    animation-name: rotateCcw;
}

@keyframes rotateCw {
    from {
        rotate: 0;
        scale: 0;
    }
    to {
        rotate: 360deg;
        scale: 1;
    }
}

@keyframes rotateCcw {
    from {
        rotate: 0;
        scale: 0;
    }
    to {
        rotate: -360deg;
        scale: 1;
    }
}

/* darts */

svg.animated-logo #graphics #darts {
    animation-name: darts;
    animation-duration: 0.5s;
}

svg.animated-logo #graphics #darts > g {
    transform-box: view-box;
    animation-duration: 1.3s;
    animation-delay: 0.6s;
}

svg.animated-logo #graphics #darts > g#dart-1 {
    animation-name: dart1;
    transform-origin: 305px 325px;
}

svg.animated-logo #graphics #darts > g#dart-3 {
    animation-name: dart3;
    transform-origin: 297px 324px;
}

@keyframes darts {
    from {
        translate: 0 -300px;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes dart1 {
    from {
        rotate: 45deg;
    }
    to {
        rotate: 0;
    }
}

@keyframes dart3 {
    from {
        rotate: -45deg;
    }
    to {
        rotate: 0;
    }
}

/* text */

svg.animated-logo :is(#le-coyote-bar, #ton-bar-a-flechettes) > path {
    animation-name: showChar;
    --delay: 1.2s;
    animation-delay: calc(var(--delay) + (attr(data-delay s) / 20));
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.669, 0.276, 0.493, 1.438);
}

svg.animated-logo #ton-bar-a-flechettes > path {
    --delay: 2s;
}

@keyframes showChar {
    from {
        scale: 0;
        rotate: -25deg;
    }
    to {
        scale: 1;
        rotate: 0deg;
    }
}
